.content--features {
	padding: 5.4rem 0 5.5rem;
	position: relative;
	width: 100%;
	.product2 {
		margin-top: 5.1rem;
		img {
			max-width: 100%;
		}
	}
	h3 {
		background: linear-gradient(to right, #db2e8c 5%, #00a2e7 28%, #f7ed11 88%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-size: 2.8rem;
		font-weight: 400;
	    margin-bottom: .1rem;
		line-height: 100%;
		@media (max-width: 1199px) {
			font-size: 2.7rem;
		}
		@media (max-width: 991px) {
			background: linear-gradient(to right, #db2e8c 5%, #00a2e7 28%, #f7ed11 68%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		@media (max-width: 767px) {
			background: linear-gradient(to right, #db2e8c 5%, #00a2e7 28%, #f7ed11 88%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		@media (max-width: 414px) {
			font-size: 2.2rem;
		}
		@media (max-width: 375px) {
			font-size: 2.1rem;
		}
		@media (max-width: 360px) {
			font-size: 2rem;
		}
		@media (max-width: 320px) {
			font-size: 1.6rem;
		}
	}
	h4 {
		font-weight: 300;
		position: relative;
		padding-bottom: 1.5rem;
		margin-bottom: 1.6rem;
		@media (max-width: 375px) {
			font-size: 1.3rem;
		}
		@media (max-width: 320px) {
			font-size: 1.1rem;
		}
		&::after {
			content: '';
			width: 45px;
			height: 1px;
			background: #333;
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}
	p {
		margin-bottom: .5rem;
		color: #555;
		font-weight: 300;
	}
	.features--item {
		@media (max-width: 991px) {
			text-align: center;
		}
		&.visible-md {
			display: none;
			@media (max-width: 991px) {
				display: block;
				padding-top: 2rem;
			}
		}
	}
	.features--price {
		label {
			margin-top: 1.5rem;
			span {
				display: block;
				font-weight: 300;
				color: #ff0016;
				line-height: 100%;
			}
			strong {
				font-size: 3.9rem;
				line-height: 100%;
				display: block;
				font-weight: 500;
				color: #333;
				i {
					font-size: 2.4rem;
					font-style: normal;
					position: relative;
					right: .6rem;
				}
			}
			del {
				display: block;
				text-align: right;
				font-weight: 300;
				padding-right: 3.2rem;
				color: #9a9999;
				position: relative;
				top: -.5rem;
			}
			text-align: left;
		}
		
	}
	.hidden-md {
		@media(max-width: 991px) {
			display: none;
		}
	}
}
.content--monitor {
	width: 100%;
	color: #fff;
	label {
		display: block;
	}
	.feature-item {
		height: 325px;
		padding-top: 55px;
		line-height: 100%;
		@media (max-width: 414px) {
			padding-top: 45px;
			height: 300px;
		}
		img {
			margin-bottom: 34px;
		}
		label {
			margin-bottom: 1rem;
		}
		label.line {
			font-weight: 300;
			position: relative;
			&::before {
				position: absolute;
				content: '';
				width: 40px;
				height: 1px;
				background: #fff;
				left: 0;
				right: 0;
				margin: 0 auto;
				top: 0;
			}
		}
		label.number {
			font-size: 2.8rem;
			font-weight: 500;
			@media (max-width: 1024px) {
				font-size: 2.4rem;
			}
			span {
				font-size: 1.8rem;
			}
		}
	}
	.monitor--green-item {
		background: #8eb83d;
		label.line {
			padding-top: 26px;
		}
		label.number {
			margin-top: 2rem;
		}
	}
	.monitor--pink-item {
		background: #c4468e;
		label.line {
			padding-top: 26px;
		}
		label.number {
			margin-top: 2rem;
		}
	}
	.monitor--blue-item {
		background: #355297;
		label.line {
			padding-top: 20px;
		}
	}
	.monitor--yellow-item {
		background: #d5a131;
		label.line {
			padding-top: 20px;
		}
	}
}
.content--facilities {
	width: 100%;
	background: #f9f9f9;
	padding: 4rem 0 3.8rem;
	img {
		max-width: 100%;
		@media (max-width: 991px) {
			max-height: 200px;
		}
	}
	h4 {
		color: #ff9859;
		font-weight: 400;
		font-size: 1.8rem;
		margin: .5rem 0 .6rem;
		@media (max-width: 991px) {
			font-size: 1.4rem;
		}
		@media (max-width: 767px) {
			font-size: 1.6rem;
		}
	}
	p {
		color: #555;
		font-weight: 300;
		@media (max-width: 991px) {
			font-size: .8rem;
		}
		@media (max-width: 767px) {
			font-size: 1rem;
		}
	}
	.col-sm-12 {
		@media (max-width: 767px) {
			padding-bottom: 1.9rem;
		}
	}
}
.content--location {
	img {
		width: 100%;
	}
	.hidden-xs {
		display: block;
		@media (max-width: 767px) {
			display: none;
		}
	}
	.visible-xs {
		display: none;
		@media (max-width: 767px) {
			display: block;
		}
	}
}
.content--pen-properties {
	width: 100%;
	height: auto;
	background: url(../images/pen-bg.png) no-repeat center bottom fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 6.5rem 0 2.8rem;
  overflow: hidden;
  .card-media {
	  display: flex;
	  margin-top: 7rem;
	  justify-content: flex-end;
	  &.os-animation {
		 opacity: 0;
	  }
	  &.justify-left {
		  justify-content: flex-start;
	  }
	  .card-media--header {
		  display: flex;
		  flex-direction: column;
		  justify-content: center;
		  h6 {
			  font-size: 1.2rem;
			  color: #ff9859;
			  @media(max-width: 991px) {
				  font-size: .9rem;
			  }
		  }
	  }
	  img {
		  max-width: 180px;
		  @media(max-width: 991px) {
			  max-width: none;
			  width: 38%;
			  height: 38%;
		  }
	  }
	  p {
		  font-weight: 300;
		  color: #999;
		  @media(max-width: 991px) {
			  font-size: .8rem;
		  }
	  }
  }
  h4 {
	  color: #ff9859;
	  font-size: 1.5rem;
	  font-weight: 400;
  }
  h5 {
	  font-weight: 300;
	  position: relative;
	  padding-bottom: 1.3rem;
	  margin-bottom: 1.2rem;
	  &::after {
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		bottom: 0;
		width: 40px;
		height: 1px;
		background: #333;
		content: "";
	}
  }
  .properties--title {
	  p {
		  font-weight: 300;
		  color: #999;
		  margin-bottom: 2rem;
		  @media(max-width: 767px) {
			  font-size: .9rem;
		  }
		  @media(max-width: 414px) {
			  font-size: 1rem;
		  }
		  @media(max-width: 320px) {
			  font-size: .9rem;
		  }
	  }
  }
  .pen-lg-img {
	  max-width: 100%;
	  @media(max-width: 991px) {
		  max-width: 90%;
	  }
  }
  .hidden-xs {
	  @media(max-width: 767px) {
		  display: none;
	  }
  }
  .visible-xs {
	  display: none;
	  img {
		  max-width: 100%;
	  }
	  @media(max-width: 767px) {
		  display: block;
	  }
  }
}
.content--delivery {
	width: 100%;
	.card {
		border: none;
	}
	.card-body {
		@media (max-width: 767px) {
			padding: 1.25rem .25rem;
		}
	}
	.card-header {
		background: #fff;
		border-bottom: solid 1px #eee;
		&#headingThree {
			border-bottom: none;
		}
	}
	h5 {
		font-weight: 400;
		&.blue-color {
			button {
				color: #1f4396;
				cursor: default;
				&::after {
					display: none;
				}
			}
		}
		&.green-color {
			button {
				color: #91c42f;
			}
		}
		&.pink-color {
			button {
				color: #d02788;
			}
		}
		&:hover {
			button {
				text-decoration: none;
			}
		}
		button {
			position: relative;
			@media (min-width: 992px) {
				padding: 0.975rem 0.75rem;
				font-size: 1.2rem;
			}
			&:focus {
				text-decoration: none;
			}
			&::after {
				position: relative;
				content: '+';
			}
			&[aria-expanded="true"] {
				&::after {
					content: '-';
				}
			}
		}
	}
	ol li {
		margin-bottom: .5rem;
	}
}
.content--faq {
	width: 100%;
	background: #fff;
	padding: 3rem 0;
	h5 {
		color: #ff9859;
		font-weight: 400;
		font-size: 1.6rem;
		margin-bottom: 2rem;
	}
	h6 {
		font-weight: 400;
		font-size: 1.15rem;
		display: flex;
		line-height: 150%;
		position: relative;
		padding-bottom: .7rem;
		margin-bottom: 1rem;
		&::after {
			position: absolute;
			left: 1.5rem;
			bottom: 0;
			height: 1px;
			background: #333;
			width: 40px;
			content: '';
		}
		strong {
			font-weight: 500;
			color: #ff9859;
		}
		label {
			padding-left: .5rem;
		}
		br {
			@media(max-width: 991px) {
				display: none;
			}
		}
	}
	p {
		font-weight: 300;
		display: flex;
		@media (max-width: 767px) {
			margin-bottom: 2rem;
		}
		a {
			color: #333;
		}
		strong {
			font-weight: 400;
			font-size: 1.15rem;
		}
		br {
			@media(max-width: 1199px) {
				display: none;
			}
		}
		label {
			padding-left: .5rem;
		}
	}
}
.content--reviews {
	width: 100%;
	height: auto;
	background: url(../images/review-bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 3.5rem 0;
  img {
	  margin-bottom: 1rem;
  }
  p {
	  color: #555;
	  font-weight: 300;
	  line-height: 180%;
	  margin-bottom: 1.5rem;
	  br {
		  @media (max-width: 1199px) {
			  display: none;
		  }
	  }
  }
  h5 {
	  font-weight: 400;
	  label {
		  font-weight: 300;
		  color: #999;
		  font-size: 1rem;
	  }
	  @media (max-width: 767px) {
		  margin-bottom: 3rem;
	  }
  }
}
.content--imagination {
	width: 100%;
	background: #fff url(../images/gradient-bottom-slide.png) no-repeat center top;
	padding: 7.4rem 0 5rem;
	@media(max-width: 991px) {
		padding: 5rem 0;
	}
	img {
		max-width: 100%;
	}
	.col-lg-4 {
		@media(max-width: 991px) {
			text-align: center;
		}
		img {
			@media(max-width: 991px) {
				margin: 2rem auto 0;
			}
		}
	}
	h5 {
		font-size: 2rem;
		background: linear-gradient(to right, #db2e8c , #00a2e7 28%, #f7ed11 60%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		padding-left: .5rem;
		@media(max-width: 991px) {
			padding-left: 0;
		}
	}
	h6 {
		color: #ff9859;
		padding-left: .5rem;
		font-size: 1.5rem;
		position: relative;
		padding-bottom: 1.5rem;
		margin-bottom: 1.2rem;
		&::after {
			position: absolute;
			left: .5rem;
			bottom: 0;
			width: 40px;
			height: 1px;
			background: #333;
			content: "";
			@media(max-width: 991px) {
				left: 0;
			}
		}
		@media(max-width: 991px) {
			padding-left: 0;
		}
	}
	p {
		font-weight: 300;
		color: #999;
		line-height: 180%;
		padding-left: .5rem;
		@media(max-width: 991px) {
			padding-left: 0;
		}
		br {
			@media(max-width: 1199px) {
				display: none;
			}
		}
	}
	.col-lg-8 {
		@media(max-width: 991px) {
			order: -1;
		}
	}
}
.content--box {
	width: 100%;
	background: #fff;
	padding: 2rem 0 1rem;
	@media (min-width: 992px) {
		min-height: 710px;
	}
	img {
		max-width: 100%;
		@media (max-width: 991px) {
			margin-bottom: 2rem;
		}
	}
	.caption {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.carousel-item {
		.align-items-center {
			@media(max-width: 991px) {
				padding: 0 15px;
			}
		}
	}
	.carousel-inner {
		@media (min-width: 992px) {
			min-height: 547px;
		}
	}
	.order-img {
		@media(max-width: 991px) {
		  order: -1;
	  }
	}
	h4 {
		background: linear-gradient(to right, #db2e8c 20%, #00a2e7 50%, #08b5c4 52%, #f2ec1f 84%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-weight: 400;
		max-width: 480px;
		margin: 1rem auto 0;
		font-size: 3rem;
		@media (max-width: 375px) {
			font-size: 2.2rem;
		}
		@media (max-width: 320px) {
			font-size: 2rem;
		}
	}
	hr {
		height: 3rem;
		border: none;
	}
	.wrap-caption {
		@media (min-width: 992px) {
			position: absolute;
			z-index: 9;
			right: -9rem;
			top: -3rem;
		}
	}
	h5 {
		color: #ff9859;
		font-weight: 400;
		position: relative;
		font-size: 2.4rem;
		padding-bottom: 1.3rem;
		margin-bottom: 1.2rem;
		line-height: 100%;
		@media (max-width: 991px) {
			text-align: left !important;
		}
		@media (max-width: 375px) {
			font-size: 1.7rem;
		}
		@media (max-width: 320px) {
			font-size: 1.5rem;
		}
		label {
			font-size: 1.8rem;
			position: relative;
			line-height: 100%;
			display: block;
			margin-bottom: 0;
			@media (max-width: 375px) {
				font-size: 1.4rem;
			}
			@media (max-width: 320px) {
				font-size: 1.3rem;
			}
		}
		&::after {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 40px;
			height: 2px;
			background: #333;
			content: "";
		}
		&.txt-right {
			&::after {
				left: auto;
				right: 0;
				@media (max-width: 991px) {
					left: 0;
					right: auto;
				}
			}
		}
	}
	p {
		color: #999;
		font-weight: 300;
		margin-bottom: .2rem;
		@media (max-width: 991px) {
			text-align: left !important;
		}
		br {
			@media (max-width: 991px) {
				display: none;
			}
		}
	}
	.carousel-indicators {
		position: relative;
		margin-bottom: 0;
		@media (max-width: 991px) {
			margin-top: 1.5rem;
		}
		li {
			border: solid 1px #909090;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			&.active {
				background: #909090;
			}
		}
	}
}
.carousel-indicators {
	z-index: 2;
}